body {
    background: #771f1f url('pokebola.jpg');
}
.titulo{
    padding: 20px 40px;
    width: 30%  center;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 75);
    background-color: #771f1f;
    border-radius: 1990px 1111px 49px 30px;
} 


.form {
    width: 95%  center;
    background-color: #77c1d8;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
